version: '3.8'
services:
  atveriton-frontend:
    build: .
    image: atveriton-frontend:latest
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3000
    ports:
      - 3000:3000
    depends_on:
      - hojaega-backend
    networks:
      - hojaega

networks:
  hojaega:
    external: true
