services:
  atveriton-frontend:
    build: .
    image: atveriton-frontend:latest
    restart: always
    container_name: atveriton-frontend
    environment:
      - NODE_ENV=production
      - PORT=3000
    ports:
      - "3000:3000"
    networks:
      - hojaega_net

networks:
  hojaega_net:
    driver: bridge